body {
  padding: 0;
  margin: 0;
  background-color: rgb(135, 107, 72);
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}


.navBar {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  background-color: silver;
  padding: 10px 0px;
  margin-bottom: 10px;
}


.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  margin-left: 10px;
}

.filterSection {
  margin: 10px 0px;
  color: wheat;
}

.products {
  flex-basis: 80%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.section {
  flex-grow: 1;
  border: 1px black solid;
  max-height: 250px;
  min-width: 150px;
  max-width: 120px;
  margin: 4px 4px;
  background-color: white;
}

img {
  height: 100px;
}